version: "3"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"

  user-service:
    build: ./user-service
    ports:
      - "8001:8000"

  task-service:
    build: ./task-service
    ports:
      - "8002:8000"

  notification-service:
    build: ./notification-service
    ports:
      - "8003:8000"
